@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@500;600;700;800;900&family=Joan&family=Libre+Baskerville:wght@700&family=Roboto:wght@300;400;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
  color: #1f1f25;
  font-size: 62.5%;
  font-weight: 600;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
}
.logo {
  width: 6.75rem;
  height: 2.06rem;
}
.news {
  max-width: 46.25rem;
}
.twitter-news {
  max-width: 26rem;
}
.btn {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  margin: 3rem 0 5rem 0;
  border-radius: 12px;
  border: none;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2rem;
  color: #fff;
  background-color: #358c65;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.5;
}
@media (max-width: 34rem) {
  body {
    font-size: 50%;
  }
  ul {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .news {
    max-width: 21.43rem;
    padding: 0 1rem;
  }
  .twitter-news {
    max-width: 21.43rem;
    padding: 0 1rem;
  }
  .btn {
    width: 100%;
    margin-bottom: 3.5rem;
    margin-top: 2.5rem;
  }
}
